<app-header [isRegistered]="isRegistered"></app-header>

<div class="container">
    <div class="theme-list" >
        <div class="theme-list" >
            
          <ng-container *ngIf="themes.length === 0; else themeslist">
            <p>Aucun theme n'a été trouvé.</p>
          </ng-container>
      
          <ng-template #themeslist>
            <div class="article-card" *ngFor="let theme of themes">
              <h2>{{ theme.title }}</h2>
              <p>{{ theme.description | slice:0:100 }}...</p>
              <button class="subscribebutton" (click)="toggleAbonnement(theme.id)">
                {{ theme.isSubscribe ? 'Se désabonner' : 'S\'abonner' }}
              </button>
              
            </div>
          </ng-template>
      
        </div>
  </div>
  
