<header  class="header">
            <div *ngIf="!isLogged" class="header-left">
                <a routerLink= "">
                    <img class="header-logo" src="/assets/logo_p6.png" alt="logo" />
                  </a>
            </div>
            <div *ngIf="isLogged" class="header-left">
                <a routerLink= "/articles">
                    <img class="header-logo" src="/assets/logo_p6.png" alt="logo" />
                  </a>
            </div>
            
      <div class="header-center">
        
      </div>
      <div *ngIf="isRegistered" class="header-right">
        <a class="pcmenu" [ngStyle]="getTitleStyle('articles')" routerLink="/articles"><h1 class="articles">Articles</h1></a>
        <a class="pcmenu" [ngStyle]="getTitleStyle('themes')" routerLink="/themes"><h1>Thèmes</h1></a>
        <a class="pcmenu" routerLink="/profil">
            <img class="header-logo-compte" src="/assets/la-personne.png" alt="logo" />
        </a>
        <div class="menubuger">
        <button (click)="openMenu()">☰</button>
            <mat-dialog-content *ngIf="menuOpen" class="menu-dialog">
            <a routerLink="/articles">Articles</a>
            <a routerLink="/themes">Thèmes</a>
            <a class="header-logo-compte-a"routerLink="/profil">
                <img class="header-logo-compte" src="/assets/la-personne.png" alt="logo" />
            </a>
            <div class="close-button" (click)="closeMenu()">X</div>
            </mat-dialog-content>
        </div>
      </div>
</header>