.header{
    display: flex;
    border-bottom: 1px solid black;
}

.header-logo{
    font-size: 18px;
    width: 10vw;
}

.header-logo-compte{
    font-size: 18px;
    width: 5vw;
}

.header-left {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  
  .logo {
    height: 40px;
    width: 40px;
  }
  
  .header-center {
    flex: 1;
  }
  
  .header-center a {
    padding: 0 16px;
    text-decoration: none;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 16px;
  }
  .header-right a {
    margin: 0 40px;
    text-decoration: none;
    color: #000000;
  }

  .header-right a :hover {
    color: #6c5ccf ;
  }
  @media (max-width: 700px) {
    .pcmenu{
      display: none; 
    }
    
    .header-logo{
        width: 25vw;
    }

    .header-right  a {
      padding: 0; 
    }

    button {
      background-color: transparent;
      border: none;
      left: +60%;
      font-size: 24px;
      cursor: pointer;
      z-index: 2; /* Assurez-vous que le bouton apparaît au-dessus du contenu */
    }
    
    .menu-dialog {
      width: 60%;
      height: 100%;
      background-color: white;
      position: absolute;
      top: 0;
      left: +40%;
      transition: left 0.3s ease-in-out;
      z-index: 1; 
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        text-decoration: none;
        color: black;
        font-size: 24px;
        z-index: 3;
        margin-top: 50px;
      }
    }

    .header-logo-compte-a{
      position: absolute;
      bottom: 5px;
      right: -15px;
      z-index: 9;
      .header-logo-compte{
        width: 60px;
      }
    }
    .close-button {
      position: absolute;
      bottom: 20px;
      left: 20px;
      cursor: pointer;
      z-index: 3;
    }
    
  }

  @media(min-width: 700px){

    .menubuger{
      display: none;
    }
  }