.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: auto;
  padding: 16px;
}
  
.form-group {
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}



/* Mise en forme des titres des champs */
.form-group label {
  display: block;
  margin-bottom: 2px;
  font-size: large;
}

/* Mise en forme des champs d'entrée */
.form-group input {
  width: 20vw;
  height: 3vh;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

@media all and (max-width: 700px) {
  .form-group input {
    width: 85vw;
  height: 5vh;
  }

  .buttons {
    display: flex;
    flex-direction: column; 
  }

  app-header{
    display: none;
  }
  .imgmdd{
      max-width: 70vw;
    }
    .back-button {
      margin-right: 1px;
      position: absolute;
      top: 10px; 
      left: 10px;
      background: none;
      border: none;
      font-weight: bold;
      font-size: 50px;
      color: black;
    }
}

@media all and (min-width: 701px){
  .imgmdd{
    display: none;
  }

  .back-button {
    margin-right: auto;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 50px;
    color: black;
  
    &:hover {
      color: gray; // Couleur au survol
    }
  }
}

/* Mise en forme du bouton "S'inscrire" */
form.register-form button {
  background-color: #7763c5;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  max-width: 50%;
  margin: auto;
}

form.register-form{
  display: flex;
  flex-direction: column;
}

/* Mise en forme du message d'erreur */
.error {
  display: block;
  color: red;
  margin-top: 5px;
}

/* Espace le titre "Inscription" */
.container h2 {
  font-size: xx-large;
  margin-bottom: 55px;
}



