<app-header [isRegistered]="isRegistered"></app-header>

  <div class="article-header">
    <button (click)="goBackToList()" class="back-button">←</button>
    <h1 class="article-create">Créer un nouvel article</h1>
  </div>
  <form class="create-article-form">
    <div>
      <mat-select placeholder="Sélectionner un theme" id="theme" name="theme" [(ngModel)]="article.themes" multiple>
        <mat-option  *ngFor="let theme of themes" [value]="theme.id">{{ theme.title }}</mat-option>
      </mat-select>
    </div>
  
    <div>
      <input class="create-article-name" type="text" id="titre" name="titre" [(ngModel)]="article.title" placeholder="Titre de l'article" />
    </div>
  
    <div>
      <textarea class="create-article-content" id="contenu" name="contenu" [(ngModel)]="article.content" placeholder="Contenu de l'article"></textarea>
    </div>
  
    <button class="create-button" (click)="submitForm()">Créer</button>
  </form>
  
  
